.BmiCard-container {
    border: 3px solid black;
    border-bottom: 2px solid black;
    margin: 20px;
}

.BmiCard-top-section {
    padding-bottom: 5px;
}

.BmiCard-gym-details {
    display: flex;
    align-items: center;
}

.BmiCard-gym-details-left {
    padding: 0 10px;
}

.BmiCard-gym-logo img {
    height: 100px;
    width: 100px;
    padding-top: 10px;
}

.BmiCard-gym-details-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.BmiCard-gym-name {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.BmiCard-gym-address-card {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 12px;
    padding: 2px;
    margin: 5px 0;
    text-align: center;
    width: 80%;
}

.BmiCard-personal-details {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.BmiCard-personal-details-left {
    width: 60%;
}

.BmiCard-personal-details-left-row {
    display: flex;
}

.BmiCard-personal-details-left-row-field {
    width: 30%;
    text-align: left;
}

.BmiCard-personal-details-left-row-value {
    padding-left: 5px;
}

.BmiCard-personal-details-right {
    width: 40%;
}

.BmiCard-personal-details-right-row {
    display: flex;
}

.BmiCard-personal-details-right-row-field {
    width: 45%;
    text-align: left;
}

.BmiCard-personal-details-right-row-value {
    padding-left: 5px;
}

.BmiCard-personal-details-right {
    width: 40%;
}

.BmiCard-personal-details-right-row {
    display: flex;
}

.BmiCard-personal-details-right-row-field {
    width: 45%;
    text-align: left;
}

.BmiCard-personal-details-right-row-value {
    padding-left: 5px;
}

.BmiCard-bottom-section-header {
    background-color: black;
    color: white;
    display: flex;
    height: 25px;
    text-align: center;
}

.BmiCard-bottom-section-header-routine {
    width: 70%;
}

.BmiCard-bottom-section-header-set {
    width: 15%;
}

.BmiCard-bottom-section-header-rep {
    width: 15%;
}

.BmiCard-exercise-table table {
    width: 100%;
    border-collapse: collapse;
}

.BmiCard-exercise-table thead {
    text-align: left;
    height: 30px;
    border-bottom: 1px solid black;
}

.BmiCard-exercise-table thead th:first-child {
    padding-left: 5px;
}

.BmiCard-exercise-table tbody tr {
    border-bottom: 1px solid black;
}

.BmiCard-exercise-table tbody tr td {
    text-align: center;
}

.BmiCard-exercise-table tbody tr td:nth-child(1) {
    width: 70%;
    text-align: left;
    padding-left: 5px;
    border-right: 1px solid black;
}

.BmiCard-exercise-table tbody tr td:nth-child(2) {
    width: 15%;
    border-right: 1px solid black;
}

.BmiCard-exercise-table tbody tr td:nth-child(3) {
    width: 15%;
}

.noDataFound {
    max-width: 900px;
    margin: 60% 5%;
    padding: 5%;
}

.noDataFound img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.BmiCard-container-2 {
    border: 3px solid black;
    border-bottom: 2px solid black;
    margin: 20px;
}
