.home {
    padding: 86% 5%;
    background-image: url('../assets/background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title {
    text-align: center;
    color: white;
}

.home-input {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-self: center;
}

.home-input input {
    margin: 5px;
    border: 1px solid orange;
    font-size: 16px;
    font-family: Verdana;
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
    color: #BF360C;
}

.home-input button {
    margin: 15px;
    width: 50%;
    font-size: 15px;
    font-family: Verdana;
    border: 1px solid orange;
    border-radius: 10px;
    height: 35px;
    color: #BF360C;
    background-color: white;
}

.home-input button:disabled {
    background-color: #ffffff96;
    color: #bf360c99;
}

.error-banner {
    text-align: center;
    color: white;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
 }